
:root{
    --back-color:linear-gradient(to right, #e0f7fa, #b2ebf2);;
    --head-text:#01579b;
    --body-text:#333333;
    --content-box:#ffffff;
    --button-color:#00796b;
    --button-color2:#26a69a;
}

/* .raleway-<hello> {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

    /* :root{
    --back-color:#121212;
    --head-text:#01579b;
    --body-text:#e0f7fa ;
    --content-box:#ffffff;
    --button-color:#26a69a; 
    --button-color2:#1e3a4f;
} */



*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

html
{
    scroll-behavior: smooth;
}

header {
    position: fixed; 
    top: 0; 
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--button-color2);
    z-index: 1000; 
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5); 
}

.logo-container {
    display: flex;
    align-items: center; 
}
.logo-container img {
    width: 50px;
    margin-right: 10px; 
}
.nav-menu {
    display: flex;
    gap: 20px; 
    list-style: none;
}
.nav-menu a
{
    text-decoration: none;
    color: var(--body-text);
    font-weight: 600;
    position: relative;
    padding: 0 5px;
    text-align: center;
}
.nav-menu a::after
{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.4s ease-in-out;
}
.nav-menu a:hover::after{
    
    width: 100%;
}
/* .wrapper{
    background-image: url('./images/hero.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
} */
.wrapper
{
    background: var(--body-text);
}
#hero
{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
   
}
#hero .hero-content {
    max-width: 800px;
    margin-top: 10px;
    padding: 20px;
    border-radius: 10px;
    color: var(--body-text);
    text-align: center;
}
.hero-content h1,p,a
{
    margin-bottom: 30px;
}
#hero h1 {
    color: white; /* Main heading color */
    font-size: 2rem; /* Adjust as needed */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Text shadow */
}
#hero p {
    color: var(--content-box);
    font-size: 1.5rem; 
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}
.hero-button {
    background-color: var(--button-color2);
    color: #fff;
    margin: 20px;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1em;
    transition: background-color 0.3s ease;
    font-weight: 600;
}
.hero-button:hover
{
    background-color: var(--button-color);
}
#chatbot-icon {
    position: fixed;
    bottom: 20px;
    right: 20px; 
    width: 50px; 
    height: 50px;
    cursor: pointer;
    z-index: 1000;
    background-color: var(--button-color2);
    padding: 4px;
    border-radius: 50%;
}

#chatbot-icon img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

#about {
    background: var(--back-color); /* Light gradient background */
    padding: 60px 20px;
    display: flex;
    justify-content: space-around;
    align-items: start;
}

.about-item {
    background: var(--button-color2); /* Semi-transparent background */
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    font-size: 16px;
    margin: 2px;
    color: var(--body-text);
    
}
#about h2{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: var(--body-text);
}


#features
{
    min-height: 40vh;
    padding: 40px;
    /* background-image: url('./images/map.jpg');
    background-size: cover;
    background-position: center; */
    background: var(--back-color);
}
.feature-list
{
    display: flex;
    flex-direction: row;
    max-width: 600px;
    min-height: 60vh;
    /* background-color: #28a745; */
    padding: 20px;
    
}
#features h2
{
    color: var(--body-text);
    text-align: center;
}
#features h3
{
    text-align: center;
    font-weight: 800;
    
}
.feature-item
{
    margin-right: 20px;
    background-color: var(--button-color2);
    color: var(--body-text);
    padding: 20px;   
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    /* height: fit-content; */
    transition: transform 0.3s, box-shadow 0.3s;
    font-weight: 500;
    text-align: center;
}
.feature-item:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0, 0, 0.2);
}
#predict
{
    width: 250px;
    height: 150px;
    margin-bottom: 15px;
}
.feature-item a
{
    text-decoration: none;
    background-color: var(--button-color2);
    color: #fff;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    font-weight: 600;
}
.main #stats
{
    height: 40vh;
    
}
#stats h2
{
    text-align: center;
}
#faq
{
    
    background: var(--back-color);
}

#faq h2
{
    text-align: center;
    color: var(--body-text);
}


#faq {
    padding: 40px;
    background: linear-gradient(to right, #e0f7fa, #b2ebf2);
    text-align: left;
}

#faq h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #01579b;
}

.faq-item {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.faq-item h3 {
    font-size: 1.2rem;
    color: #00796b;
    margin-bottom: 10px;
}

.faq-item p {
    font-size: 1rem;
    color: #333333;
}

/* @keyframes appear{
    from{
        opacity: 0;
        scale: 0.5;
    }
    t0{
        opacity: 1;
        scale: 1;
    }
} */

/* @keyframes appear{
    from{
        opacity: 0;
        clip-path: inset(100% 100% 0 0);
    }
    t0{
        opacity: 1;
        clip-path: inset(0 0 0 0);
    }
} */
@keyframes appear{
    from{
        opacity: 0;
        transform: translateX(-100px);
    }
    t0{
        opacity: 1;
        transform: translateX(0px);
    }
}
#about,#features,#faq{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

@keyframes heroText{
    from{
        transform: translateX(-300px);
    }

    to{
        transform: translateX(0px);
    }
}

@keyframes heroText_p{
    from{
        transform: translateX(300px);
    }

    to{
        transform: translateX(0px);
    }
}
@keyframes heroText_btn{
    from{
        transform: rotate(0);
    }

    to{
        transform: rotate(360deg);
    }
}
.logo-container
{
    animation: heroText_btn 2s ease-in 1s 1 normal;
}
.nav-menu li{
    animation: heroText 2s linear 1s 1 normal;
}
.hero-content h1{
    /* animation-name: heroText;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none; */
    animation: heroText 2s ease-in 1s 1 normal;
}
.hero-content p{
    animation:  heroText_p 1.5s ease-in 1s 1 normal;
}
.hero-content,a{
    animation: heroText 1s ease-in 1s 1 normal;
}

